

.logo {
    font-size: 20px;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        bottom: -1px;
        left: 0;
        background-color: var(--primary-inverted-background-color);
    }
}