.toggleSwitch__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.toggleSwitch {
    border: 2px solid var(--primary-inverted-background-color);
    border-radius: 10px;
    width: 35px;
    height: 20px;
    // margin-left: 15px;

    transition : border 0.5s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__circle {
        transition: all 0.5s;
        border-radius: 100%;
        background-color: var(--primary-inverted-background-color);
        height: 10px;
        width: 10px;
        margin: 0 3px;
        // position: absolute;
        // bottom: 0;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    &__icon {
        max-width: 25px;
        margin-right: 10px;

        path {
            fill: var(--primary-inverted-background-color) !important;
            transition: fill 0.5s;
        }
    }

    &__text {
        font-size: 15px;
    }
}

.active {
    .toggleSwitch {
        border: 2px solid var(--primary-accent-color);

        &__circle {
            transform: translateX(15px);
            background-color: var(--primary-accent-color);
        }

        &__icon {
            path {
                // fill: var(--primary-accent-color) !important;
            }
        }
    }
}