.representation {
    position: relative;
    
    max-width: 1000px;
    padding: 10px;
    border: 1px solid var(--primary-inverted-background-color);

    &__clarification {
        position: absolute;
        text-align: center;
        width: 100%;
        top: -30px;
        left: 0;
        color: var(--secondary-text-color);
    }

    &__file {
        fill: var(--primary-inverted-background-color) !important;
        width: 200px;
        height: 100px;
    }
}
