.representation {
    position: relative;

    &__clarification {
        text-align: center;
        margin-bottom: 20px;
        // width: -webkit-fill-available;
        color: var(--secondary-text-color);
    }

    &__file {
        fill: var(--primary-inverted-background-color) !important;
        width: 200px;
        height: 100px;
    }

    &__text {
        padding: 10px 50px;
    }

    &__img {
        max-width: 1300px;
    } 
}
