

.counter {
    background-color: #fff;
    color: #000;

    &__btn {
        background-color: red;

        &:hover {
            background-color: blue;
        }
    }

    &__title {
        font-size: 100px;
    }
}