.fileinfo {
    margin-top: 150px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    

    &__data {
        margin-bottom: 30px;
        text-align: center;
    }

    &__content {
        margin-bottom: 20px;
    }

    &__download {
        margin-top: 50px;
    }

    &__size {
        margin-top: 20px;
    }
}