@import "reset";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./fonts/index.scss";

body {
    font: var(--font-m);
    color: var(--primary-text-color);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.app {
    background: var(--primary-background-color);
    min-height: 100vh;
}