@use "reset";
@use "variables/global.scss";
@use "themes/dark.scss";
@use "themes/light.scss";
@use "fonts/index.scss";

body {
    font: var(--font-m);
    color: var(--primary-text-color);
    overflow-x: hidden;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.app {
    background: var(--primary-background-color);
    min-height: 100vh;
}